PORT=3000
# FRONTEND_URL="https://tu-frontend.up.railway.app"

AUTH_SERVICE_URL="http://localhost:3001"
APPOINTMENTS_SERVICE_URL="http://localhost:3002"
PAYMENTS_SERVICE_URL="http://localhost:3003"

# SENTRY_DSN="https://xxx@xxx.ingest.sentry.io/xxx"
